Django==4.2.1
psycopg[binary,pool]==3.1.9
django-cors-headers==3.13.0
django-csvimport==2.17
django-import-export==3.0.2
django-nested-inline==0.4.5
djangorestframework==3.14.0
drf-extra-fields==3.4.1
drf-spectacular==0.25.1
drf-writable-nested==0.7.0
Pillow==9.3.0
django-environ==0.10.0
djangorestframework-simplejwt == 4.8.0


